<div class="container mx-auto py-8 px-4 justify-center items-center w-full h-full max-w-screen-lg">
  <div class="p-4">
    <ol class="flex items-center">
      <li class="relative w-full mb-6">
        <div class="flex items-center">
          <div
            class="z-10 flex items-center justify-center w-6 h-6 bg-orange-400 rounded-full ring-0 ring-orange-400 sm:ring-8 shrink-0"
          >
            <svg
              class="w-3.5 h-3.5 text-white lg:w-4 lg:h-4"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"
              />
            </svg>
          </div>
          <div class="flex w-full bg-orange-400 h-1"></div>
        </div>
        <div class="mt-3">
          <h3 class="font-bold text-orange-500">Verificar ticket</h3>
        </div>
      </li>
      <li class="relative w-full mb-6">
        <div class="flex items-center">
          <div
            class="z-10 flex items-center justify-center w-6 h-6 bg-orange-400 rounded-full ring-0 ring-orange-400 sm:ring-8 shrink-0"
          >
            <svg
              class="w-3.5 h-3.5 text-white lg:w-4 lg:h-4"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 16 12"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5.917 5.724 10.5 15 1.5"
              />
            </svg>
          </div>
          <div class="flex w-full bg-orange-600 h-1"></div>
        </div>
        <div class="mt-3">
          <h3 class="font-bold text-orange-400">Ingresar datos</h3>
        </div>
      </li>
      <li class="relative w-full mb-6">
        <div class="flex items-center">
          <div
            class="z-10 flex items-center justify-center w-6 h-6 bg-orange-400 rounded-full ring-0 ring-orange-400 sm:ring-8 shrink-0"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-4 h-4 text-white lg:w-6 lg:h-6"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M14 3v4a1 1 0 0 0 1 1h4" />
              <path d="M11.5 21h-4.5a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v5m-5 6h7m-3 -3l3 3l-3 3" />
            </svg>
          </div>
        </div>
        <div class="mt-3">
          <h3 class="font-bold text-orange-400">Generar factura</h3>
        </div>
      </li>
    </ol>
  </div>
  <h2 class="mb-4 text-5xl font-light text-black mt-4">Descargar factura generada</h2>
  <div class="justify-start mt-20 space-y-4 sm:space-y-0 sm:space-x-4 flex flex-col sm:flex-row sm:items-center">
    <!-- <button
      type="button"
      class="px-20 py-3 text-base font-medium text-center inline-flex items-center justify-center text-white bg-orange-400 rounded-lg hover:bg-orange-500 focus:ring-4 focus:outline-none focus:ring-orange-800"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-file-type-pdf"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
        <path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" />
        <path d="M5 18h1.5a1.5 1.5 0 0 0 0 -3h-1.5v6" />
        <path d="M17 18h2" />
        <path d="M20 15h-3v6" />
        <path d="M11 15v6h1a2 2 0 0 0 2 -2v-2a2 2 0 0 0 -2 -2h-1z" />
      </svg>
      Descargar PDF
    </button> -->
    <button
      type="button"
      (click)="downloadXML()"
      class="px-20 py-3 text-base font-medium text-center inline-flex items-center justify-center text-white bg-orange-400 rounded-lg hover:bg-orange-500 focus:ring-4 focus:outline-none focus:ring-orange-800"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-file-type-xml"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M14 3v4a1 1 0 0 0 1 1h4" />
        <path d="M5 12v-7a2 2 0 0 1 2 -2h7l5 5v4" />
        <path d="M4 15l4 6" />
        <path d="M4 21l4 -6" />
        <path d="M19 15v6h3" />
        <path d="M11 21v-6l2.5 3l2.5 -3v6" />
      </svg>
      Descargar XML
    </button>
  </div>
</div>
